<table class="Table__StyledTable-sc-1ott6xl-0 hjisPD Table__StickyHeaderTable-sc-1ott6xl-1 TableLayout__Table-sc-1drf2hw-0 jhZaXU cSXqTL"><thead><tr><th class="state-name">State</th><th class="2020_registration_deadline_by_mail" id="2020_registration_deadline_by_mail">2020 registration deadline (by mail)</th><th class="2020_registration_deadline_in_person" id="2020_registration_deadline_in_person">2020 registration deadline (in person)</th><th class="2020_registration_deadline_online" id="2020_registration_deadline_online">2020 registration deadline (online)</th><th>Register to vote</th></tr></thead><tbody><tr><td><a href="/register-to-vote-alabama/">Alabama</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 19, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 19, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 19, 2020</p>
</div></td><td><a href="/register-to-vote-alabama/">Alabama voter registration</a></td></tr><tr><td><a href="/register-to-vote-alaska/">Alaska</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 3, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 4, 2020</p>
</div></td><td><a href="/register-to-vote-alaska/">Alaska voter registration</a></td></tr><tr><td><a href="/register-to-vote-arizona/">Arizona</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 23, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 23, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 23, 2020</p>
</div></td><td><a href="/register-to-vote-arizona/">Arizona voter registration</a></td></tr><tr><td><a href="/register-to-vote-arkansas/">Arkansas</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>N/A</p>
</div></td><td><a href="/register-to-vote-arkansas/">Arkansas voter registration</a></td></tr><tr><td><a href="/register-to-vote-california/">California</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 19, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 19, 2020</p>
</div></td><td><a href="/register-to-vote-california/">California voter registration</a></td></tr><tr><td><a href="/register-to-vote-colorado/">Colorado</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 26, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 26, 2020</p>
</div></td><td><a href="/register-to-vote-colorado/">Colorado voter registration</a></td></tr><tr><td><a href="/register-to-vote-connecticut/">Connecticut</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 27, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 27, 2020</p>
</div></td><td><a href="/register-to-vote-connecticut/">Connecticut voter registration</a></td></tr><tr><td><a href="/register-to-vote-delaware/">Delaware</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 10, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 10, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 10, 2020</p>
</div></td><td><a href="/register-to-vote-delaware/">Delaware voter registration</a></td></tr><tr><td><a href="/register-to-vote-district-of-columbia/">District of Columbia</a></td><td data-title="2020 registration deadline (by mail)"><div><p>received by October 13, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 13, 2020</p>
</div></td><td><a href="/register-to-vote-district-of-columbia/">District of Columbia voter registration</a></td></tr><tr><td><a href="/register-to-vote-florida/">Florida</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 6, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 6, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 6, 2020</p>
</div></td><td><a href="/register-to-vote-florida/">Florida voter registration</a></td></tr><tr><td><a href="/register-to-vote-georgia/">Georgia</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 5, 2020</p>
</div></td><td><a href="/register-to-vote-georgia/">Georgia voter registration</a></td></tr><tr><td><a href="/register-to-vote-hawaii/">Hawaii</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 5, 2020</p>
</div></td><td><a href="/register-to-vote-hawaii/">Hawaii voter registration</a></td></tr><tr><td><a href="/register-to-vote-idaho/">Idaho</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 9, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 9, 2020</p>
</div></td><td><a href="/register-to-vote-idaho/">Idaho voter registration</a></td></tr><tr><td><a href="/register-to-vote-illinois/">Illinois</a></td><td data-title="2020 registration deadline (by mail)"><div><p>received by October 6, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 18, 2020</p>
</div></td><td><a href="/register-to-vote-illinois/">Illinois voter registration</a></td></tr><tr><td><a href="/register-to-vote-indiana/">Indiana</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 5, 2020</p>
</div></td><td><a href="/register-to-vote-indiana/">Indiana voter registration</a></td></tr><tr><td><a href="/register-to-vote-iowa/">Iowa</a></td><td data-title="2020 registration deadline (by mail)"><div><p>received by October 24, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 24, 2020</p>
</div></td><td><a href="/register-to-vote-iowa/">Iowa voter registration</a></td></tr><tr><td><a href="/register-to-vote-kansas/">Kansas</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 13, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 13, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 13, 2020</p>
</div></td><td><a href="/register-to-vote-kansas/">Kansas voter registration</a></td></tr><tr><td><a href="/register-to-vote-kentucky/">Kentucky</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 5, 2020</p>
</div></td><td><a href="/register-to-vote-kentucky/">Kentucky voter registration</a></td></tr><tr><td><a href="/register-to-vote-louisiana/">Louisiana</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 13, 2020</p>
</div></td><td><a href="/register-to-vote-louisiana/">Louisiana voter registration</a></td></tr><tr><td><a href="/register-to-vote-maine/">Maine</a></td><td data-title="2020 registration deadline (by mail)"><div><p>received by October 19, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>N/A</p>
</div></td><td><a href="/register-to-vote-maine/">Maine voter registration</a></td></tr><tr><td><a href="/register-to-vote-maryland/">Maryland</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 13, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 13, 2020</p>
</div></td><td><a href="/register-to-vote-maryland/">Maryland voter registration</a></td></tr><tr><td><a href="/register-to-vote-massachusetts/">Massachusetts</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 24, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 24, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 24, 2020</p>
</div></td><td><a href="/register-to-vote-massachusetts/">Massachusetts voter registration</a></td></tr><tr><td><a href="/register-to-vote-michigan/">Michigan</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 19, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 19, 2020</p>
</div></td><td><a href="/register-to-vote-michigan/">Michigan voter registration</a></td></tr><tr><td><a href="/register-to-vote-minnesota/">Minnesota</a></td><td data-title="2020 registration deadline (by mail)"><div><p>received by October 13, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 13, 2020</p>
</div></td><td><a href="/register-to-vote-minnesota/">Minnesota voter registration</a></td></tr><tr><td><a href="/register-to-vote-mississippi/">Mississippi</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>N/A</p>
</div></td><td><a href="/register-to-vote-mississippi/">Mississippi voter registration</a></td></tr><tr><td><a href="/register-to-vote-missouri/">Missouri</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 7, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 7, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 7, 2020</p>
</div></td><td><a href="/register-to-vote-missouri/">Missouri voter registration</a></td></tr><tr><td><a href="/register-to-vote-montana/">Montana</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 26, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>N/A</p>
</div></td><td><a href="/register-to-vote-montana/">Montana voter registration</a></td></tr><tr><td><a href="/register-to-vote-nebraska/">Nebraska</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 16, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 23, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 16, 2020</p>
</div></td><td><a href="/register-to-vote-nebraska/">Nebraska voter registration</a></td></tr><tr><td><a href="/register-to-vote-nevada/">Nevada</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 6, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 29, 2020</p>
</div></td><td><a href="/register-to-vote-nevada/">Nevada voter registration</a></td></tr><tr><td><a href="/register-to-vote-new-hampshire/">New Hampshire</a></td><td data-title="2020 registration deadline (by mail)"><div><p>received by October 20, 2020 (may vary, please confirm with your local election office)</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>N/A</p>
</div></td><td><a href="/register-to-vote-new-hampshire/">New Hampshire voter registration</a></td></tr><tr><td><a href="/register-to-vote-new-jersey/">New Jersey</a></td><td data-title="2020 registration deadline (by mail)"><div><p>received by October 13, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 13, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 13, 2020</p>
</div></td><td><a href="/register-to-vote-new-jersey/">New Jersey voter registration</a></td></tr><tr><td><a href="/register-to-vote-new-mexico/">New Mexico</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 6, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 31, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 6, 2020</p>
</div></td><td><a href="/register-to-vote-new-mexico/">New Mexico voter registration</a></td></tr><tr><td><a href="/register-to-vote-new-york/">New York</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 9, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 9, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 9, 2020</p>
</div></td><td><a href="/register-to-vote-new-york/">New York voter registration</a></td></tr><tr><td><a href="/register-to-vote-north-carolina/">North Carolina</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 9, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 31, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 9, 2020</p>
</div></td><td><a href="/register-to-vote-north-carolina/">North Carolina voter registration</a></td></tr><tr><td><a href="/register-to-vote-north-dakota/">North Dakota</a></td><td data-title="2020 registration deadline (by mail)"><div><p>N/A</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>N/A</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>N/A</p>
</div></td><td><a href="/register-to-vote-north-dakota/">North Dakota voter registration</a></td></tr><tr><td><a href="/register-to-vote-ohio/">Ohio</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 5, 2020</p>
</div></td><td><a href="/register-to-vote-ohio/">Ohio voter registration</a></td></tr><tr><td><a href="/register-to-vote-oklahoma/">Oklahoma</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 9, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 9, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>N/A</p>
</div></td><td><a href="/register-to-vote-oklahoma/">Oklahoma voter registration</a></td></tr><tr><td><a href="/register-to-vote-oregon/">Oregon</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 13, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 13, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 13, 2020</p>
</div></td><td><a href="/register-to-vote-oregon/">Oregon voter registration</a></td></tr><tr><td><a href="/register-to-vote-pennsylvania/">Pennsylvania</a></td><td data-title="2020 registration deadline (by mail)"><div><p>received by October 19, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 19, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 19, 2020</p>
</div></td><td><a href="/register-to-vote-pennsylvania/">Pennsylvania voter registration</a></td></tr><tr><td><a href="/register-to-vote-rhode-island/">Rhode Island</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 3, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 4, 2020</p>
</div></td><td><a href="/register-to-vote-rhode-island/">Rhode Island voter registration</a></td></tr><tr><td><a href="/register-to-vote-south-carolina/">South Carolina</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 2, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 4, 2020</p>
</div></td><td><a href="/register-to-vote-south-carolina/">South Carolina voter registration</a></td></tr><tr><td><a href="/register-to-vote-south-dakota/">South Dakota</a></td><td data-title="2020 registration deadline (by mail)"><div><p>received by October 19, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 19, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>N/A</p>
</div></td><td><a href="/register-to-vote-south-dakota/">South Dakota voter registration</a></td></tr><tr><td><a href="/register-to-vote-tennessee/">Tennessee</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 5, 2020</p>
</div></td><td><a href="/register-to-vote-tennessee/">Tennessee voter registration</a></td></tr><tr><td><a href="/register-to-vote-texas/">Texas</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 5, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>N/A</p>
</div></td><td><a href="/register-to-vote-texas/">Texas voter registration</a></td></tr><tr><td><a href="/register-to-vote-utah/">Utah</a></td><td data-title="2020 registration deadline (by mail)"><div><p>received by October 23, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 23, 2020</p>
</div></td><td><a href="/register-to-vote-utah/">Utah voter registration</a></td></tr><tr><td><a href="/register-to-vote-vermont/">Vermont</a></td><td data-title="2020 registration deadline (by mail)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by November 3, 2020</p>
</div></td><td><a href="/register-to-vote-vermont/">Vermont voter registration</a></td></tr><tr><td><a href="/register-to-vote-virginia/">Virginia</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 13, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 13, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 13, 2020</p>
</div></td><td><a href="/register-to-vote-virginia/">Virginia voter registration</a></td></tr><tr><td><a href="/register-to-vote-washington/">Washington</a></td><td data-title="2020 registration deadline (by mail)"><div><p>received by October 26, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 26, 2020</p>
</div></td><td><a href="/register-to-vote-washington/">Washington voter registration</a></td></tr><tr><td><a href="/register-to-vote-west-virginia/">West Virginia</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 13, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by October 13, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 13, 2020</p>
</div></td><td><a href="/register-to-vote-west-virginia/">West Virginia voter registration</a></td></tr><tr><td><a href="/register-to-vote-wisconsin/">Wisconsin</a></td><td data-title="2020 registration deadline (by mail)"><div><p>postmarked by October 14, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>received by October 14, 2020</p>
</div></td><td><a href="/register-to-vote-wisconsin/">Wisconsin voter registration</a></td></tr><tr><td><a href="/register-to-vote-wyoming/">Wyoming</a></td><td data-title="2020 registration deadline (by mail)"><div><p>received by October 19, 2020</p>
</div></td><td data-title="2020 registration deadline (in person)"><div><p>received by November 3, 2020</p>
</div></td><td data-title="2020 registration deadline (online)"><div><p>N/A</p>
</div></td><td><a href="/register-to-vote-wyoming/">Wyoming voter registration</a></td></tr></tbody></table>